<h1>CreatePost</h1>

<form method="POST" class="ml-5 mr-5" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title"> Title </label>
    <input name="title" type="text" class="form-control" id="title">
  </div>
   <div class="form-group">
    <label for="imgUrl">Picture</label>
    <input name="imgUrl" type="file" class="form-control" id="imgUrl">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> 
</form>
<img src="uploads\731099a16d7795ff665b2dbb12d5673e" alt="">